<template>
  <div class="content">
    {{ calculate() }}
  </div>
</template>

<script>
export default {
  name: "New",
  data: () => ({
    value: 20
  }),
  methods: {
    calculate() {
      return this.value * 2;
    }
  }
};
</script>
